[submodule "serve/static/bootstrap"]
	path = serve/static/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "serve/static/happy"]
	path = serve/static/happy
	url = git@github.com:yosemitebandit/Happy.js.git
[submodule "serve/static/jeditable"]
	path = serve/static/jeditable
	url = git://github.com/tuupola/jquery_jeditable.git
