recursive-include ivrhub/templates *
recursive-include ivrhub/static *
recursive-include vendor/bootstrap/docs/assets *
recursive-include vendor/happy *
recursive-include vendor/soundmanager2/demo/360-player *
recursive-include vendor/soundmanager2/script *
recursive-include vendor/soundmanager2/swf *
include readme.md requirements.txt
