{% extends "layout.html" %}

{% block head %}
    <link rel='stylesheet' href="{{ url_for('static', filename='css/360player.css') }}">

    <style>
        div.ui360 {
            float: left;
        }

        .audio-label {
            height: 24px;
            margin: 16px 0 0 0;
        }

        .table-sort-handle {
            cursor: move;
        }

        .edit-status-placeholder {
            margin: 0 0 0 12px;
        }
    </style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <span class='label label-question'>
            <i class='icon-question-sign'></i>
            <abbr class='initialism'>Questions</abbr>
        </span>
        <span class='edit-status-placeholder'></span>
        <h2 class='section-name'>
            <a href="{{ url_for('forms', org_label=form.organization.label
                , form_label=form.label) }}">{{ form.name }}</a>
        </h2>

        <div class='row'>
            <div class='span4'>
                <h4>Form description</h4>
                {% if form.description %}
                    <p>{{ form.description }}</p>
                {% else %}
                    <i>None</i>
                {% endif %}
            </div>
            
            <div class='offset6 span2'>
                <h4>Calling code</h4>
                <span class='label label-calling-code'>
                    <i class='icon-bell'></i>
                    <abbr class='initialism'>{{ form.calling_code }}</abbr>
                </span>
            </div>
        </div>
    </div>
</div>

<br />
<hr />

<div class='row'>
    <div class='span12'>
        <h3 class='section-name'>Questions
            <small>click a name to edit, drag the icon to reorder, or <a href="{{ url_for('questions', org_label=form.organization.label, form_label=form.label
                , create='true') }}">add a new one</a></small>
        </h3>
        {% if not form.questions %}
            <i>No questions created for this form yet.</i>
        {% else %}
            <table class='table table-bordered table-striped'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Prompt</th>
                        <th>Response type</th>
                        <th style='text-align: right'>Delete</th>
                    </tr>
                </thead>
                <tbody class='sort'>
                    {% for question in form.questions %}
                    <tr id='{{ question.id }}'>
                        <td style='text-align: center' class='table-sort-handle'>
                            <i class='icon-move'></i>
                        </td>

                        <td><a href="{{ url_for('questions', org_label=form.organization.label, form_label=form.label
                                , question_label=question.label, edit='true') }}">{{ question.name }}</a></td>
                        <td>
                            {% if question.description %}
                                {{ question.description }}
                            {% else %}
                                <i>None</i>
                            {% endif %}
                        </td>

                        <td>
                            {% if question.prompt_type == 'text_prompt' %}
                                {% if question.text_prompt %}
                                    (<i>{{ question.text_prompt_language }}</i>)
                                    {{ question.text_prompt }}
                                {% else %}
                                    <i>None</i>
                                {% endif %}

                            {% elif question.prompt_type == 'audio_url' %}
                                <div class='ui360'>
                                    <a href="{{ question.audio_url }}"></a>
                                </div>
                                <div class='audio-label'>
                                    <abbr title='{{ question.audio_url }}'>
                                        <code>
                                            <a href="{{ question.audio_url }}" target=_blank>
                                                {{ question.audio_url|abbreviate(30) }}
                                            </a>
                                        </code>
                                    </abbr>
                                </div>
                            
                            {% elif question.prompt_type == 'audio_file' %}
                                <div class='ui360'>
                                    <a href="{{ question.s3_url }}"></a>
                                </div>
                                <div class='audio-label'>
                                    <abbr title='{{ question.audio_filename }}'>
                                        <code>
                                            <a href="{{ question.s3_url }}" target=_blank>
                                                {{ question.audio_filename|abbreviate(30) }}
                                            </a>
                                        </code>
                                    </abbr>
                                </div>

                            {% endif %}
                        </td>
                        
                        <td>
                            {% if question.response_type == 'keypad' %}
                                <span class='label label-info'>keypad</span>
                            {% elif question.response_type == 'voice' %}
                                <span class='label label-warning'>voice</span>
                            {% elif question.response_type == 'no response' %}
                                <span class='label label-no-response'>no response</span>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ url_for('questions', org_label=form.organization.label
                                , form_label=form.label, question_label=question.label, edit='true') }}#admin" class='close'>×</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>

<br />
<br />


{% endblock %}

{% block js %}
<!--[if IE]<script type='text/javascript' src="{{ url_for('static', filename='js/excanvas.js') }}"></script><![endif]-->
<script src='{{ url_for('static', filename='js/berniecode-animator.js') }}'></script>
<script src='{{ url_for('static', filename='js/soundmanager2.js') }}'></script>
<script src='{{ url_for('static', filename='js/360player.js') }}'></script>

<!-- jquery ui from cdn with local fallback -->
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
<script>
    if (typeof jQuery.ui == 'undefined') {
    document.write(unescape("%3Cscript src='{{ url_for('static', filename='js/jquery-ui.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
    }
</script>

<script>

    $(function() {

        // soundmanager2 config
        // point to swf file dir
        soundManager.url = "{{ url_for('static', filename='swf') }}";

        // jquery ui sortable question list
        $('.sort').sortable({
            cursor: 'move'
            , handle: '.table-sort-handle'
            , update: function(event, ui) {
                // add note that we've started working..
                // to bad I can't get marquee styled right..
                $('.edit-status-placeholder').html('<i>saving...</i>');

                // capture the ids of the rows
                $(this).sortable('refresh');
                var sorted_questions = $(this).sortable('toArray', 'id');
                
                $.ajax({
                    type: 'POST'
                    , url: "{{ url_for('questions', org_label=form.organization.label, form_label=form.label) }}"
                    , data: {
                        'sorted_questions': JSON.stringify(sorted_questions)
                        , form_type: "question_ordering"
                        , _csrf_token: "{{ csrf_token() }}"

                    }
                    , success: function(message) {
                        if (message.status == 'success') {
                            $('.edit-status-placeholder').delay(1000).queue(function() {
                                $(this).html('<i class="icon-ok"></i>');
                                $(this).dequeue();
                            });
                        } else {
                            $('.edit-status-placeholder').delay(1000).queue(function() {
                                $(this).html('<i class="icon-remove"></i>&nbsp;<i>something went wrong, sorry :/</i>');
                                $(this).dequeue();
                            });
                        }

                    }
                });
            }
        });



    });

</script>

{% endblock %}

{% block breadcrumb %}

<p>
<span class='divider'>/</span>
<a href="{{ url_for('organizations', org_label=form.organization.label) }}">{{ form.organization.name }}</a>
<span class='divider'>/</span>
<a href="{{ url_for('forms', org_label=form.organization.label, form_label=form.label) }}">{{ form.name }}</a>
<span class='divider'>/</span>
questions
</p>

{% endblock %}
