{% extends "layout.html" %}

{% block head %}
    <style>
        
        h3 i {
            margin: 3px 8px 0 0;
        }

        /* move the note away from the label
        */
        .well p {
            margin: 10px 0 0 0;
        }

        /* don't underline on hover
        and keep text color the same as default 
        */
        .well-link:hover {
            text-decoration: none;
        }
        .well-link {
            color: #333;
        }
    </style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <span class='label label-form'>
            <i class='icon-list-alt'></i>
            <abbr class='initialism'>Forms</abbr>
        </span>
        <h2 class='section-name'>{{ form.name }}
            <small>
                (<a href="{{ url_for('forms', org_label=form.organization.label, form_label=form.label, edit='true') }}">edit</a>)
            </small>
        </h2>

        <div class='row'>
            <div class='span4'>
                <h4>Description</h4>
                {% if form.description %}
                    <p>{{ form.description }}</p>
                {% else %}
                    <i>None</i>
                {% endif %}
            </div>
            
            <div class='offset6 span2'>
                <h4>Calling code</h4>
                <span class='label label-calling-code'>
                    <i class='icon-bell'></i>
                    <abbr class='initialism'>{{ form.calling_code }}</abbr>
                </span>
            </div>
        </div>
    </div>
</div>

<hr />

<div class='row'>
    <a href="{{ url_for('questions', org_label=form.organization.label
        , form_label=form.label) }}" class='well-link'>
        <div class='span3 well'>
            <span class='label label-question'>
                <i class='icon-list-alt'></i>
                <abbr class='initialism'>Questions ({{ question_count }})</abbr>
            </span>
            <p>view and edit questions for this form</p>
        </div>
    </a>
</div>

<div class='row'>
    <a href="{{ url_for('responses', org_label=form.organization.label
        , form_label=form.label) }}" class='well-link'>
        <div class='span3 well'>
            <span class='label label-response'>
                <i class='icon-check'></i>
                <abbr class='initialism'>Responses ({{ response_count }})</abbr>
            </span>
            <p>view and annotate responses to this form</p>
        </div>
    </a>
</div>


{% endblock %}

{% block breadcrumb %}

<p>
<span class='divider'>/</span>
<a href="{{ url_for('organizations', org_label=form.organization.label) }}">{{ form.organization.name }}</a>
<span class='divider'>/</span>
{{ form.name }}
</p>

{% endblock %}
