{% extends "layout.html" %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <span class='label label-response'>
            <i class='icon-check'></i>
            <abbr class='initialism'>Responses</abbr>
        </span>
        <h2 class='section-name'>
            <a href="{{ url_for('forms', org_label=form.organization.label
                , form_label=form.label) }}">{{ form.name }}</a>
        </h2>

        <div class='row'>
            <div class='span4'>
                <h4>Description</h4>
                {% if form.description %}
                    <p>{{ form.description }}</p>
                {% else %}
                    <i>None</i>
                {% endif %}
            </div>
            
            <div class='offset6 span2'>
                <h4>Calling code</h4>
                <span class='label label-calling-code'>
                    <i class='icon-bell'></i>
                    <abbr class='initialism'>{{ form.calling_code }}</abbr>
                </span>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class='row'>
    <div class='span12'>
        <h3 class='section-name'>Responses
            <small>click an ID to view</small>
        </h3>
        {% if not responses %}
            <i>No responses for this form yet.</i>
        {% else %}
            <table class='table table-bordered table-striped'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Time initialized</th>
                        <th>Status</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for response in responses %}
                    <tr>
                        <td>
                            <code>
                                <a href="{{ url_for('responses', org_label=form.organization.label, form_label=form.label, response_sid=response.call_sid) }}">
                                    {{ response.call_sid|abbreviate(7) }}
                                </a>
                            </code>
                        </td>
                        <td>{{ response.initiation_time|_format_datetime('short-date-with-time') }}</td>
                        <td>
                            {% if response.completion_time %}
                                <span class='label label-info'>
                                    <abbr class='initialism'>Complete</abbr>
                                </span>
                            {% else %}
                                <span class='label label-warning'>
                                    <abbr class='initialism'>Unfinished</abbr>
                                </span>
                            {% endif %}
                        </td>

                        <td>
                            {% if response.notes %}
                                {{ response.notes }}
                            {% else %}
                                <i>None</i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block breadcrumb %}

<p>
<span class='divider'>/</span>
<a href="{{ url_for('organizations', org_label=form.organization.label) }}">{{ form.organization.name }}</a>
<span class='divider'>/</span>
<a href="{{ url_for('forms', org_label=form.organization.label, form_label=form.label) }}">{{ form.name }}</a>
<span class='divider'>/</span>
responses
</p>

{% endblock %}
