{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h3 class='section-name'>Friends</h3>
<div class='row'>
    <div class='span4'>
        <p>Looking to use a dedicated app for mobile data collection?  Want to allow SMS replies?  You're in luck - there's a lot of great stuff out there:</p>
        <ul>
            <li><a href="http://commcarehq.org">CommCare</a></li>
            <li><a href="http://formhub.org">FormHub</a></li>
            <li><a href="http://opendatakit.org">Open Data Kit</a></li>
            <li><a href="https://bitbucket.org/javarosa/javarosa/wiki/Home">JavaRosa</a></li>
            <li><a href="http://episurveyor.org">Episurveyor</a></li>
            <li><a href="http://rapidsms.org">RapidSMS</a></li>
            <li><a href="http://frontlinesms.org">FrontlineSMS</a></li>
        </ul>
    </div>
</div>
{% endblock %}
