{% extends "layout.html" %}

{% block body %}
<div class='hero-unit'>
    <h1>IVRHub</h1>
    <p>mobile data collection in any language, on any device</p>
    <p>
        <a class='btn btn-info btn-large' href="{{ url_for('about') }}">Learn More &raquo;</a>
        &nbsp;

        {% if session.email %}
        <a class='btn btn-success btn-large' href="{{ url_for('dashboard') }}">Dashboard &raquo;</a>
        {% else %}
        <a class='btn btn-success btn-large' href="{{ url_for('register') }}">Sign Up &raquo;</a>
        {% endif %}
    </p>
</div>
{% endblock %}
