{% extends "layout.html" %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <span class='label label-warning'>
            <i class='icon-globe'></i>
            <abbr class='initialism'>Organization</abbr>
        </span>
        <h2 class='section-name'>{{ organization.name }}
            <small>
                (<a href="{{ url_for('organizations', org_label=organization.label, edit='true') }}">edit</a>)
            </small>
        </h2>

        <div class='row'>
            <div class='span4'>
                <h4>Description</h4>
                {% if organization.description %}
                    <p>{{ organization.description }}</p>
                {% else %}
                    <i>None</i>
                {% endif %}
            </div>

            <div class='offset2 span3'>
                <h4>Location</h4>
                {% if organization.location %}
                    <p>{{ organization.location }}</p>
                {% else %}
                    <i>None</i>
                {% endif %}
            </div>
            
            <div class='span3'>
                <h4>Members</h4>
                {% for user in users %}
                    <span class='badge badge-success'>{{ user.name }}</span>
                {% else %}
                    <i>None</i>
                {% endfor %}
            </div>
        </div>


    <br />
    <br />

    <h3 class='section-name'>Forms
        <small>click a name to view or <a href="{{ url_for('forms', org_label=organization.label, create='true') }}">create a new one</a>
        </small>
    </h3>
    {% if not forms %}
        <i>No forms have been created yet.</i>
    {% else %}
    <table class='table table-striped table-bordered'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            {% for form in forms %}
            <tr>
                <td><a href="{{ url_for('forms', org_label=organization.label, form_label=form.label) }}">{{ form.name }}</a></td>
                <td>
                    {% if form.description %}
                        {{ form.description }}
                    {% else %}
                        <i>None</i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    </div>
</div>

{% endblock %}

{% block breadcrumb %}

<p>
<span class='divider'>/</span>
{{ organization.name }}
</p>

{% endblock %}
