{% extends "layout.html" %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <h2 class='section-name'>{{ user.name }}
            <small>
                (<a href="{{ url_for('profile', edit='true') }}">edit</a>)
            </small>
        </h2>
        
        <div class='row'>
            <div class='span4'>
                <h4>Email</h4>
                <code>{{ user.email }}</code>
            </div>

            <div class='offset2 span3'>
                <h4>Organizations</h4> 
                {% for org in user.organizations %}
                <span class='badge badge-warning'>{{ org.name }}</span>
                {% else %}
                <i>none</i>
                {% endfor %}
            </div>
            
            <div class='span3'>
                <h4>Member since</h4>
                <p>{{ user.registration_time|_format_datetime('day-month-year') }}</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
