{% extends "layout.html" %}

{% block head %}
<style>
    .btn-info {
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <span class='label label-question'>
            <i class='icon-question-sign'></i>
            <abbr class='initialism'>Questions</abbr>
        </span>
        <h2 class='section-name'>
            <a href="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                , question_label=question.label) }}">{{ question.name }}</a>
            <small>
                (editing)
            </small>
        </h2>

        <ul id='questionTab' class='nav nav-tabs'>
            <li class='active'><a href='#info' data-toggle='tab'>Basic info</a></li>
            <li><a href='#prompt' data-toggle='tab'>Prompt</a></li>
            <li><a href='#admin' data-toggle='tab'>Delete question</a></li>
        </ul>

        <div id='questionTabContent' class='tab-content'>
            <div class='tab-pane active' id='info'>
                <h3>Modify question info</h3>
                <br />
                <form class='form-horizontal' action="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                    , question_label=question.label) }}" method=post id='info_form'>
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label' for='name'>Name</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='name' id='name' autocomplete='off' value='{{ question.name }}'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='description'>Description</label>
                            <div class='controls'>
                                <textarea class='span3' name='description' id='description'>{% if question.description %}{{ question.description }}{% endif %}</textarea>
                            </div>
                        </div>
                        
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <input name=form_type type=hidden value="info">

                        <div class='form-actions'>
                            <button type='submit' class='btn btn-success'>Save</button>
                            <a class='btn' href="{{ url_for('forms', org_label=question.form.organization.label, form_label=question.form.label) }}">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- /.tab-pane -->
            
            <div class='tab-pane' id='prompt'>
                <h3>Modify this question's prompt</h3>
                <br />
                <form class='form-horizontal' 
                    action="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                        , question_label=question.label) }}" 
                    method=post id='prompt_form' enctype=multipart/form-data>
                    <fieldset>
                        <div class='row'>
                            <div class='span4'>
                                <div class='control-group specify_prompt_type'>
                                    <label class='control-label' for='specify_prompt_type'>Prompt type</label>
                                    <div class='controls'>
                                        <label class='radio'>
                                            <input type='radio' name='specify_prompt_type' value='text_prompt'
                                            {% if question.prompt_type == 'text_prompt' %}
                                                checked
                                            {% endif %}
                                            > Text
                                        </label>
                                        <label class='radio'>
                                            <input type='radio' name='specify_prompt_type' value='audio_file'
                                            {% if question.prompt_type == 'audio_file' %}
                                                checked
                                            {% endif %}
                                            > Audio file
                                        </label>
                                        <label class='radio'>
                                            <input type='radio' name='specify_prompt_type' value='audio_url'
                                            {% if question.prompt_type == 'audio_url' %}
                                                checked
                                            {% endif %}
                                            > Audio URL
                                        </label>
                                    </div>
                                </div>

                                <div class='control-group'>
                                    <label class='control-label' for='response_type'>Response type</label>
                                    <div class='controls'>
                                        <label class='radio'>
                                            <input type='radio' name='response_type' value='keypad' 
                                            {% if question.response_type == 'keypad' %}
                                                checked
                                            {% endif %}
                                            > <span class='label label-info'>keypad</span>
                                        </label>
                                        <label class='radio'>
                                            <input type='radio' name='response_type' value='voice'
                                            {% if question.response_type == 'voice' %}
                                                checked
                                            {% endif %}
                                            > <span class='label label-warning'>voice</span>
                                        </label>
                                        <p class='help-block'>the respondent will type or speak their answer</p>
                                    </div>
                                </div>
                            </div> <!-- /.span4 -->

                            <div class='span6'>
                                <div class='control-group prompt_type' id='specify_text_prompt'>
                                    <label class='control-label' for='text_prompt'>Text prompt</label>
                                    <div class='controls'>
                                        {# squish these together to prevent extra whitespace #}
                                        <textarea class='input-xlarge' name='text_prompt' rows='4' id='text_prompt'>{% if question.text_prompt %}{{ question.text_prompt }}{% endif %}</textarea>
                                        <p class='help-block'>these words will be spoken in the language below</p>
                                    </div>
                                </div>

                                <div class='control-group prompt_type' id='specify_text_prompt_language'>
                                    <label class='control-label' for='text_prompt_language'>Text prompt language</label>
                                    <div class='controls'>
                                        <label class='radio'>
                                            <input type='radio' name='text_prompt_language' value='en'
                                            {% if question.text_prompt_language == 'en' %}
                                                checked
                                            {% endif %}
                                            > English (American)
                                        </label>
                                        <label class='radio'>
                                            <input type='radio' name='text_prompt_language' value='es'
                                            {% if question.text_prompt_language == 'es' %}
                                                checked
                                            {% endif %}
                                            > Spanish
                                        </label>
                                        <label class='radio'>
                                            <input type='radio' name='text_prompt_language' value='fr'
                                            {% if question.text_prompt_language == 'fr' %}
                                                checked
                                            {% endif %}
                                            
                                            > French
                                        </label>
                                        <label class='radio'>
                                            <input type='radio' name='text_prompt_language' value='de'
                                            {% if question.text_prompt_language == 'de' %}
                                                checked
                                            {% endif %}
                                            
                                            > German
                                        </label>
                                        <label class='radio'>
                                            <input type='radio' name='text_prompt_language' value='en-gb'
                                            {% if question.text_prompt_language == 'en-gb' %}
                                                checked
                                            {% endif %}
                                            > English (Great Britian)
                                        </label>
                                    </div>
                                </div>

                                <div class='control-group prompt_type' id='specify_audio_url'>
                                    <label class='control-label' for='audio_url'>Prompt audio URL</label>
                                    <div class='controls'>
                                        <input type='text' class='input-xlarge' name='audio_url' autocomplete='off' id='audio_url'
                                        {% if question.audio_url %}
                                            value='{{ question.audio_url }}'
                                        {% endif %}
                                        >
                                        <p class='help-block'>path to an mp3 file on the web - this will be played to your responder</p>

                                    </div>
                                </div>

                                <div class='control-group prompt_type' id='specify_audio_file'>
                                    <label class='control-label' for='audio_file'>Prompt audio file</label>
                                    <div class='controls'>
                                        {% if question.audio_filename %}
                                            <input type=text class='input-file' name='audio_file' id='audio_file' 
                                            disabled value='{{ question.audio_filename }}'>
                                            <input name=audio_file_exists type=hidden value="true">
                                            <p class='help-block'>this question already has an attached mp3</p>
                                        {% else %}
                                            <input type=file class='input-file' name='audio_file' id='audio_file'>
                                            <p class='help-block'>upload an mp3 file from your computer to play to the responders</p>
                                        {% endif %}
                                    </div>
                                </div>

                            </div> <!-- /.span6 -->

                        </div> <!-- /.row -->

                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <input name=form_type type=hidden value="prompt">

                        <div class='form-actions'>
                            <button type='submit' class='btn btn-success'>Save prompt</button>
                            <a class='btn' href="{{ url_for('forms', org_label=question.form.organization.label, form_label=question.form.label) }}">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- /.tab-pane -->
            
            
            <div class='tab-pane' id='admin'>
                <h3>Delete this question
                    <small>(this cannot be undone!)</small>
                </h3>
                <br />

                <div class='modal hide' id='delete_question_modal'>
                    <div class='modal-header'>
                        <button class='close' data-dismiss='modal'>×</button>
                        <h3>Delete question</h3>
                    </div>

                    <div class='modal-body'>
                        <p>This will delete the info connected to "{{ question.name }}"</p>
                        <p>This operation <strong>cannot be undone by anyone.</strong></p>
                    </div>

                    <div class='modal-footer'>
                        <form action="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                                , question_label=question.label) }}" method=post id='admin_form'>
                            <a href='#' class='btn' data-dismiss='modal'>Cancel</a>

                            <input name=form_type type=hidden value="admin">

                            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                            <button type='submit' class='btn btn-danger'>Delete this question</button>
                        </form>
                    </div>
                </div><!-- /.modal -->
                
                <div class='form-actions'>
                    <a class='btn btn-danger' data-toggle='modal' href='#delete_question_modal'>Delete question</a>
                </div>
            </div> <!-- /.tab-pane -->


        </div>
    </div>

</div>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.methods.js') }}"></script>
<script>
    $(function() {

        // tabs
        $('#questionTab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
        
        // enable link to tab
        // via dubbe at http://stackoverflow.com/questions/7862233
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
        } 

        // change hash for page-reload
        $('.nav-tabs a').on('shown', function (e) {
            window.location.hash = e.target.hash;
        })
        // /tabs


        // modal
        $('#delete_question_modal').modal({
            show: false
        });


        // initial focus on first input
        $('#name').focus();

        $('#info_form').isHappy({
            fields: {
                '#name': {
                    required: true
                    , message: ''
                }
            }
        });

        /* prompt type-selection 
        */
        $('.specify_prompt_type').change(function() {
            var form_type = $("input[name='specify_prompt_type']:checked").val();

            $('.prompt_type').hide();
            if (form_type == 'text_prompt') {
                $('#specify_text_prompt, #specify_text_prompt_language').show();
            } else if (form_type == 'audio_url') {
                $('#specify_audio_url').show();
            } else if (form_type == 'audio_file') {
                $('#specify_audio_file').show();
            }
        }).change();
        
    });
</script>
{% endblock %}

{% block breadcrumb %}

<p>
<span class='divider'>/</span>
<a href="{{ url_for('organizations', org_label=question.form.organization.label) }}">{{ question.form.organization.name }}</a> 
<span class='divider'>/</span>
<a href="{{ url_for('forms', org_label=question.form.organization.label, form_label=question.form.label) }}">{{ question.form.name }}</a> 
<span class='divider'>/</span>
<a href="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label) }}">questions</a> 
<span class='divider'>/</span>
<a href="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label, question_label=question.label) }}">{{ question.name }}</a> 
<span class='divider'>(<i>editing</i>)</span>
</p>


{% endblock %}
