{% extends "layout.html" %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <span class='label label-question'>
            <i class='icon-list-alt'></i>
            <abbr class='initialism'>Questions</abbr>
        </span>
        <h2 class='section-name'>{{ question.name }}
            <small>
                (<a href="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                    , question_label=question.label, edit='true') }}">edit</a>)
            </small>
        </h2>

        <div class='row'>
            <div class='span4'>
                <h4>Description</h4>
                {% if question.description %}
                    <p>{{ question.description }}</p>
                {% else %}
                    <i>None</i>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block breadcrumb %}

<p>
<span class='divider'>/</span>
<a href="{{ url_for('organizations', org_label=question.form.organization.label) }}">{{ question.form.organization.name }}</a> 
<span class='divider'>/</span>
<a href="{{ url_for('forms', org_label=question.form.organization.label, form_label=question.form.label) }}">{{ question.form.name }}</a> 
<span class='divider'>/</span>
<a href="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label) }}">questions</a> 
<span class='divider'>/</span>
{{ question.name }}
</p>

{% endblock %}
