{% extends "layout.html" %}

{% block head %}
<style>
    .btn-info {
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <span class='label label-question'>
            <i class='icon-list-alt'></i>
            <abbr class='initialism'>Questions</abbr>
        </span>
        <h2 class='section-name'>
            <a href="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                , question_label=question.label) }}">{{ question.name }}</a>
            <small>
                (editing)
            </small>
        </h2>

        <ul id='questionTab' class='nav nav-tabs'>
            <li class='active'><a href='#info' data-toggle='tab'>Basic info</a></li>
            <li><a href='#prompt' data-toggle='tab'>Prompt</a></li>
            <li><a href='#admin' data-toggle='tab'>Delete question</a></li>
        </ul>

        <div id='questionTabContent' class='tab-content'>
            <div class='tab-pane active' id='info'>
                <h3>Modify question info</h3>
                <br />
                <form class='form-horizontal' action="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                    , question_label=question.label) }}" method=post id='info_form'>
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label' for='name'>Name</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='name' id='name' value='{{ question.name }}'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='description'>Description</label>
                            <div class='controls'>
                                <textarea class='span3' name='description' id='description'>{{ question.description }}</textarea>
                            </div>
                        </div>
                        
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <input name=form_type type=hidden value="info">

                        <div class='form-actions'>
                            <button type='submit' class='btn btn-success'>Save</button>
                            <a class='btn' href="{{ url_for('forms', org_label=question.form.organization.label, form_label=question.form.label) }}">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- /.tab-pane -->
            
            <div class='tab-pane' id='prompt'>
                <h3>Modify this question's prompt</h3>
                <br />
                <form class='form-horizontal' 
                    action="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                        , question_label=question.label) }}" 
                    method=post id='prompt_form'>
                    <fieldset>
                        
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <input name=form_type type=hidden value="conclusion">

                        <div class='form-actions'>
                            <button type='submit' class='btn btn-success'>Save prompt</button>
                            <a class='btn' href="{{ url_for('forms', org_label=question.form.organization.label, form_label=question.form.label) }}">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- /.tab-pane -->
            
            
            <div class='tab-pane' id='admin'>
                <h3>Delete this question
                    <small>(this cannot be undone!)</small>
                </h3>
                <br />

                <div class='modal hide' id='delete_question_modal'>
                    <div class='modal-header'>
                        <button class='close' data-dismiss='modal'>×</button>
                        <h3>Delete question</h3>
                    </div>

                    <div class='modal-body'>
                        <p>This will delete the info connected to "{{ question.name }}"</p>
                        <p>This operation <strong>cannot be undone by anyone.</strong></p>
                    </div>

                    <div class='modal-footer'>
                        <form action="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label
                                , question_label=question.label) }}" method=post id='admin_form'>
                            <a href='#' class='btn' data-dismiss='modal'>Cancel</a>

                            <input name=form_type type=hidden value="admin">

                            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                            <button type='submit' class='btn btn-danger'>Delete this question</button>
                        </form>
                    </div>
                </div><!-- /.modal -->
                
                <div class='form-actions'>
                    <a class='btn btn-danger' data-toggle='modal' href='#delete_question_modal'>Delete question</a>
                </div>
            </div> <!-- /.tab-pane -->


        </div>
    </div>

</div>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.methods.js') }}"></script>
<script>
    $(function() {

        // tabs
        $('#questionTab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
        
        // enable link to tab
        // via dubbe at http://stackoverflow.com/questions/7862233
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
        } 

        // change hash for page-reload
        $('.nav-tabs a').on('shown', function (e) {
            window.location.hash = e.target.hash;
        })
        // /tabs


        // modal
        $('#delete_question_modal').modal({
            show: false
        });


        // initial focus on first input
        $('#name').focus();

        $('#info_form').isHappy({
            fields: {
                '#name': {
                    required: true
                    , message: ''
                }
            }
        });
        
    });
</script>
{% endblock %}

{% block breadcrumb %}

<p>
<span class='divider'>/</span>
<a href="{{ url_for('organizations', org_label=question.form.organization.label) }}">{{ question.form.organization.name }}</a> 
<span class='divider'>/</span>
<a href="{{ url_for('forms', org_label=question.form.organization.label, form_label=question.form.label) }}">{{ question.form.name }}</a> 
<span class='divider'>/</span>
<a href="{{ url_for('questions', org_label=question.form.organization.label, form_label=question.form.label, question_label=question.label) }}">{{ question.name }}</a> 
<span class='divider'>(<i>editing</i>)</span>
</p>

{% endblock %}
