{% extends "layout.html" %}

{% block head %}
<style>
    .terms {
        height: 70px;
        overflow-y: scroll;
        background: #f4f4f4;
        padding: 3px 2px 4px 2px;
    }
    .terms p {
        font-size: 11px;
    }
</style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='offset3 span6'>
        <form class='form-horizontal prevent-enter' action="{{ url_for('register') }}" method=post id='registration_form'>
            <fieldset>
                <legend>Register
                    <small> or <a href="{{ url_for('login') }}">login</a></small>
                </legend>
                <div class='control-group'>
                    <label class='control-label' for='name'>Name</label>
                    <div class='controls'>
                        <input type='text' class='span3' name='name' id='name'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='email'>Email</label>
                    <div class='controls'>
                        <input type='text' class='span3' name='email' id='email'>
                        <p class='help-block'>this will be used for logging in</p>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='password'>Password</label>
                    <div class='controls'>
                        <input type='password' class='span3' name='password' id='password'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='password'>Retype Password</label>
                    <div class='controls'>
                        <input type='password' class='span3' name='retype_password' id='retype_password'>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label'>Terms</label>
                    <div class='controls'>
                        <div class='terms'>
                            <p>
                            By clicking the Sign Up button, you acknowledge 
                            that our service is based on beta software and you 
                            agree to all of these terms and conditions of use.  
                            Aquaya makes no representations, warranties or guarantees 
                            about the performance, security, reliability, accuracy 
                            or continuity of our service.  In particular, our 
                            service is provided "AS IS, WITH ALL FAULTS," 
                            without any warranty of any kind, express or implied, 
                            INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
                            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  
                            Aquaya reserves the right to pause or terminate our service, 
                            or to delete your account and/or your data, at any time, 
                            with or without cause and without notice, and Aquaya shall 
                            not be liable to you or any third party for any such 
                            actions.  In addition, Aquaya shall not be liable to 
                            you or to any third party for any damages, losses, costs 
                            or expenses, whether direct, indirect, special or consequential, 
                            that you or any third party may suffer or incur arising 
                            from or related to your use of our service or arising 
                            from or related to any service interruption, termination 
                            of service, loss of data or for any other reason whatsoever.  
                            Your use of our service is entirely at your own risk.  
                            If you do not agree to these terms and conditions of, 
                            please do not click the Sign Up button and do not use our service.  
                            In accordance with the Digital Millennium Copyright 
                            Act of 1998 (the "DMCA"), Aquaya has designated an 
                            agent to receive notifications of alleged copyright 
                            infringement in accordance with the DMCA.  Any written 
                            Notification of Claimed Infringement or any counter-notice 
                            should comply with the requirements of the DMCA and 
                            should be provided in writing to our designated agent 
                            as follows:  Mr. Brad Lang, The Aquaya Institute, 
                            1004B O'Reilly Avenue, San Francisco, CA 94129.  
                            Phone number: 415 674 9551.  Fax number: 415 674 9552.  
                            E-mail: Brad@Aquaya.org
                            </p>
                        </div>
                    </div>
                </div>

                <div class='form-actions'>
                    <button type='submit' class='btn btn-success'>Sign Up</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/happy.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.methods.js') }}"></script>
<script>
    $(function() {
        // initial focus on first input
        $('#name').focus();

        $('#registration_form').isHappy({
            fields: {
                '#name': {
                    required: true
                    , message: ''
                }
                , '#email': {
                    required: true
                    , message: ''
                    , test: happy.email
                }
                , '#organization': {
                    required: true
                    , message: ''
                }
                , '#password': {
                    required: true
                    , message: ''
                }
                , '#retype_password': {
                    required: true
                    , message: ''
                    , test: happy.equal('#password')
                }
            }
        });

        // based on the wording of the terms and conditions,
        // people are required to click the button
        // pressing enter to submit the registration form must be blocked
        $('.prevent-enter').keypress(function(e) {
            if (e.which == 13) {
                e.preventDefault();
            }
        });

    });
</script>
{% endblock %}
