{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h3 class='section-name'>Member Directory
    <small>click a name to edit</small>
</h3>
<div class='row'>
    <div class='span12'>
        {% if not users %}
        <p>No users to speak of..that's odd.</p>
        {% else %}
        <table class='table table-striped table-bordered'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Organization</th>
                    <th>Date Registered</th>
                    <th>Last Login</th>
                    <th style='text-align: center'>Email Confirmed</th>
                    <th style='text-align: center'>Identity Verified</th>
                    <th style='text-align: center'>Admin</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('directory', internal_id=user._id) }}">{{ user.name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.organization }}</td>
                    <td>{{ user.registration_time | _format_datetime('medium') }}</td>
                    <td>{{ user.last_login_time | _format_datetime('medium') }}</td>
                    <td style='text-align: center'>
                        {% if user.email_confirmed %}
                        <button class='btn btn-info small' disabled><i class='icon-ok'></i></button>
                        {% else %}
                        <button class='btn btn-warning small' disabled><i class='icon-remove'></i></button>
                        {% endif %}
                    </td>
                    <td style='text-align: center'>
                        {% if user.verified %}
                        <button class='btn btn-info small' disabled><i class='icon-ok'></i></button>
                        {% else %}
                        <button class='btn btn-warning small' disabled><i class='icon-remove'></i></button>
                        {% endif %}
                    </td>
                    <td style='text-align: center'>
                        {% if user.admin_rights %}
                        <button class='btn btn-info small' disabled><i class='icon-ok'></i></button>
                        {% else %}
                        <button class='btn btn-warning small' disabled><i class='icon-remove'></i></button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
