{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class='row'>
    <div class='offset3 span6'>
        <form class='form-horizontal' action="{{ url_for('profile') }}" method=post id='profile_edit_form'>
            <fieldset>
                <legend>Editing {{ user.name }}</legend>
                <div class='control-group'>
                    <label class='control-label' for='name'>Name</label>
                    <div class='controls'>
                        <input type='text' class='input-xlarge' name='name' id='name' value='{{ user.name }}'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='email'>Email</label>
                    <div class='controls'>
                        <input type='text' class='input-xlarge' name='email' id='email' value='{{ user.email }}'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='organization'>Organization</label>
                    <div class='controls'>
                        <input type='text' class='input-xlarge' name='organization' id='organization' value='{{ user.organization }}'>
                    </div>
                </div>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <div class='form-actions'>
                    <button type='submit' class='btn btn-primary'>Save Changes</button>
                    <a href="{{ url_for('dashboard') }}" class='btn'>Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/happy.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.methods.js') }}"></script>
<script>
    $(function() {
        // initial focus on first input
        $('#name').focus();

        $('#profile_edit_form').isHappy({
            fields: {
                '#name': {
                    required: true
                    , message: 'please a name'
                }
                , '#email': {
                    required: true
                    , message: 'please enter a valid email'
                    , test: happy.email
                }
                , '#organization': {
                    required: true
                    , message: 'please enter an organization'
                }
            }
        });

    });
</script>
{% endblock %}
