{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class='row'>
    <div class='offset3 span6'>
        {% if error %}
        <div class='alert alert-error fade in'>
            <a class='close' data-dismiss='alert' href='#'>&times;</a>
            {{ error }}
        </div>
        {% endif %}

        <form class='form-horizontal' action="{{ url_for('register') }}" method=post id='registration_form'>
            <fieldset>
                <legend>Register</legend>
                <div class='control-group'>
                    <label class='control-label' for='name'>Name</label>
                    <div class='controls'>
                        <input type='text' class='input-xlarge' name='name' id='name'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='email'>Email</label>
                    <div class='controls'>
                        <input type='text' class='input-xlarge' name='email' id='email'>
                        <p class='help-block pull-right'>this will be used for logging in</p>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='organization'>Organization</label>
                    <div class='controls'>
                        <input type='text' class='input-xlarge' name='organization' id='organization'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='password'>Password</label>
                    <div class='controls'>
                        <input type='password' class='input-xlarge' name='password' id='password'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='password'>Retype Password</label>
                    <div class='controls'>
                        <input type='password' class='input-xlarge' name='retype_password' id='retype_password'>
                    </div>
                </div>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

                <div class='form-actions'>
                    <button type='submit' class='btn btn-primary'>Sign Up</button>
                    <button type='reset' class='btn'>Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/happy.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.methods.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
<script>
    $(function() {
        // initial focus on first input
        $('#name').focus();

        $('#registration_form').isHappy({
            fields: {
                '#name': {
                    required: true
                    , message: 'please enter your name'
                }
                , '#email': {
                    required: true
                    , message: 'please enter a valid email address'
                    , test: happy.email
                }
                , '#organization': {
                    required: true
                    , message: 'please enter your organization'
                }
                , '#password': {
                    required: true
                    , message: 'please submit a password'
                }
                , '#retype_password': {
                    required: true
                    , message: 'please retype your password'
                    , test: happy.equal('#password')
                }
            }
        });

    });
</script>
{% endblock %}
