{% extends "layout.html" %}

{% block head %}
<style>
    .table {
        margin: 25px 0 0 0;
    }
</style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <div class='row'>
            <div class='span6'>
                <h3>Verification status</h3>
                {% if not user.email_confirmed %}
                <p>Thanks for signing up!  We just sent a confirmation email to <code>{{ user.email }}</code>.  Click the link provided in that email so we know how to reach you.</p>
                {% endif %}

                {% if not user.verified %}
                <p>After confirming your email, an administrator will be notified and will review your information.  Once verified, you will have full access to the site.  We'll be in touch soon!</p>
                {% else %}
                <p>You've been verified -- should be all set!</p>
                {% endif %}
            </div>

            <div class='offset1 span4'>
                <table class='table table-bordered'>
                    <tbody>
                        <tr>
                            <td>Email confirmed</td>
                            {% if user.email_confirmed %}
                            <td><button class='btn btn-info small' disabled><i class='icon-ok'></i></button></td>
                            {% else %}
                            <td><button class='btn btn-warning small' disabled><i class='icon-remove'></i></button></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Identity verified</td>
                            {% if user.verified %}
                            <td><button class='btn btn-info small' disabled><i class='icon-ok'></i></button></td>
                            {% else %}
                            <td><button class='btn btn-warning small' disabled><i class='icon-remove'></i></button></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}
