{% extends "layout.html" %}

{% block body %}
<div class='row'>
    <div class='offset3 span6'>

        <ul id='profileTab' class='nav nav-tabs'>
            <li class='active'><a href='#info' data-toggle='tab'>Info</a></li>
            <li><a href='#account' data-toggle='tab'>Account</a></li>
        </ul>

        <div id='profileTabContent' class='tab-content'>
            <div class='tab-pane active' id='info'>
                <h3>Modify profile information</h3>
                <br />
                <form class='form-horizontal' action="{{ url_for('directory', internal_id=user.id) }}" method=post id='info_form'>
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label' for='name'>Name</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='name' id='name' value='{{ user.name }}'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='email'>Email</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='email' id='email' value={{ user.email }}>
                                <p class='help-block'>altered email addresses will not be verified</p>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='organization'>Organization</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='organization' id='organization' value='{{ user.organization }}'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='verification'>Verification status</label>
                            <div class='controls'>
                                <label class='radio'>
                                    <input type='radio' name='verification' value='verified' 
                                    {% if user.verified %}
                                    checked
                                    {% endif %}
                                    > verified - has access to the site
                                </label>
                                <label class='radio'>
                                    <input type='radio' name='verification' value='unverified'
                                    {% if not user.verified %}
                                    checked
                                    {% endif %}
                                    > not verified - can you confirm this person's identity?
                                </label>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='admin'>Admin status</label>
                            <div class='controls'>
                                <label class='radio'>
                                    <input type='radio' name='admin' value='admin' 
                                    {% if user.admin_rights %}
                                    checked
                                    {% endif %}
                                    > Admin - can do everything you're doing right now
                                </label>
                                <label class='radio'>
                                    <input type='radio' name='admin' value='normal'
                                    {% if not user.admin_rights %}
                                    checked
                                    {% endif %}
                                    > not an Admin
                                </label>
                            </div>
                        </div>
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

                        <input name=profile_form_type type=hidden value="info">

                        <div class='form-actions'>
                            <button type='submit' class='btn btn-success'>Save</button>
                            <a class='btn' href="{{ url_for('directory') }}">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- /.tab-pane -->

            <div class='tab-pane' id='account'>
                <h3>Delete this person's account
                    <small>(this cannot be undone!)</small>
                </h3>
                <br />

                <div class='modal hide' id='delete_account_modal'>
                    <div class='modal-header'>
                        <button class='close' data-dismiss='modal'>×</button>
                        <h3>Delete account</h3>
                    </div>

                    <div class='modal-body'>
                        <p>This will delete the account of "{{ user.name }}"</p>
                        <p>This operation <strong>cannot be undone by anyone.</strong></p>
                    </div>

                    <div class='modal-footer'>
                        <form action="{{ url_for('directory', internal_id=user.id) }}" method=post id='account_form'>
                            <a href='#' class='btn' data-dismiss='modal'>Cancel</a>

                            <input name=profile_form_type type=hidden value="account">

                            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                            <button type='submit' class='btn btn-danger'>Delete this account</button>
                        </form>
                    </div>
                </div><!-- /.modal -->

                <a class='btn btn-danger' data-toggle='modal' href='#delete_account_modal'>Delete account</a>
            </div>


        </div>
    </div>

</div>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.methods.js') }}"></script>
<script>
    $(function() {

        // tabs
        $('#profileTab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // modal
        $('#delete_account_modal').modal({
            show: false
        });


        // initial focus on first input
        $('#name').focus();

        $('#info_form').isHappy({
            fields: {
                '#name': {
                    required: true
                    , message: ''
                }
                , '#email': {
                    required: true
                    , message: ''
                    , test: happy.email
                }
                , '#organization': {
                    required: true
                    , message: ''
                }
            }
        });

    });
</script>
{% endblock %}
