{% extends "layout.html" %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <span class='label label-warning'>
            <i class='icon-globe'></i>
            <abbr class='initialism'>Organization</abbr>
        </span>
        <h2 class='section-name'>{{ organization.name }}
            <small>
                (<a href="{{ url_for('organizations', org_label=organization.label, edit='true') }}">edit</a>)
            </small>
        </h2>

        <div class='row'>
            <div class='span4'>
                <h4>Description</h4>
                {% if organization.description %}
                    <p>{{ organization.description }}</p>
                {% else %}
                    <i>None</i>
                {% endif %}
            </div>

            <div class='offset2 span3'>
                <h4>Location</h4>
                {% if organization.location %}
                    <p>{{ organization.location }}</p>
                {% else %}
                    <i>None</i>
                {% endif %}
            </div>
            
            <div class='span3'>
                <h4>Members</h4>
                {% for user in users %}
                    <span class='badge badge-success'>{{ user.name }}</span>
                {% else %}
                    <i>None</i>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
