{% extends "layout.html" %}

{% block head %}
<style>
    .btn-info {
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='offset3 span6'>

        <ul id='organizationTab' class='nav nav-tabs'>
            <li class='active'><a href='#info' data-toggle='tab'>Info</a></li>
            <li><a href='#add_members' data-toggle='tab'>Add members</a></li>
            <li><a href='#remove_members' data-toggle='tab'>Remove members</a></li>
            {% if session.admin_rights %}
            <li><a href='#admin' data-toggle='tab'>Admin</a></li>
            {% endif %}
        </ul>

        <div id='organizationTabContent' class='tab-content'>
            <div class='tab-pane active' id='info'>
                <h3>Modify organization info</h3>
                <br />
                <form class='form-horizontal' action="{{ url_for('organizations', org_label=organization.label) }}" method=post id='info_form'>
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label' for='name'>Name</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='name' id='name' value='{{ organization.name }}'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='description'>Description</label>
                            <div class='controls'>
                                <textarea class='span3' name='description' id='description'>{{ organization.description }}</textarea>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='location'>location</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='location' id='location' value='{{ organization.location }}'>
                            </div>
                        </div>
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

                        <input name=form_type type=hidden value="info">

                        <div class='form-actions'>
                            <button type='submit' class='btn btn-success'>Save</button>
                            <a class='btn' href="{{ url_for('organizations') }}">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- /.tab-pane -->
            
            
            <div class='tab-pane' id='add_members'>
                <h3>Add members</h3>
                <br />
                <form class='form-horizontal form-inline' action="{{ url_for('organizations', org_label=organization.label) }}" method=post id='add_members_form'>
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label' for='add_member_email'>Add by email</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='add_member_email' id='add_member_email'>
                            </div>
                        </div>
                        
                        <h3 class='section-name'>Current members </h3>
                        <div id='member_pool'>
                            {% for user in organization.users %}
                            <a class='btn btn-small btn-info' disabled>{{ user.email }}</a>
                            {% else %}
                            <i>no members yet..</i>
                            {% endfor %}
                        </div>

                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <input name=form_type type=hidden value="add_members">

                        <div class='form-actions'>
                            <button type='submit' class='btn btn-success'>Add member</button>
                            <a class='btn' href="{{ url_for('organizations') }}">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- /.tab-pane -->
            

            <div class='tab-pane' id='remove_members'>
                <h3>Remove members</h3>
                <br />
                <form class='form-horizontal form-inline' action="{{ url_for('organizations', org_label=organization.label) }}" method=post id='remove_members_form'>
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label' for='remove_member_email'>Remove by email</label>
                            <div class='controls'>
                                <input type='text' class='span3' name='remove_member_email' id='remove_member_email'>
                            </div>
                        </div>
                        
                        <h3 class='section-name'>Current members </h3>
                        <div id='member_pool'>
                            {% for user in organization.users %}
                            <a class='btn btn-small btn-warning' disabled>{{ user.email }}</a>
                            {% else %}
                            <i>no members at the moment..</i>
                            {% endfor %}
                        </div>

                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <input name=form_type type=hidden value="remove_members">

                        <div class='form-actions'>
                            <button type='submit' class='btn btn-success'>Remove member</button>
                            <a class='btn' href="{{ url_for('organizations') }}">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- /.tab-pane -->


            <div class='tab-pane' id='admin'>
                <h3>Delete this organization
                    <small>(this cannot be undone!)</small>
                </h3>
                <br />

                <div class='modal hide' id='delete_organization_modal'>
                    <div class='modal-header'>
                        <button class='close' data-dismiss='modal'>×</button>
                        <h3>Delete organization</h3>
                    </div>

                    <div class='modal-body'>
                        <p>This will delete the info connected to "{{ organization.name }}"</p>
                        <p>This operation <strong>cannot be undone by anyone.</strong></p>
                    </div>

                    <div class='modal-footer'>
                        <form action="{{ url_for('organizations', org_label=organization.label) }}" method=post id='admin_form'>
                            <a href='#' class='btn' data-dismiss='modal'>Cancel</a>

                            <input name=form_type type=hidden value="admin">

                            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                            <button type='submit' class='btn btn-danger'>Delete this organization</button>
                        </form>
                    </div>
                </div><!-- /.modal -->

                <a class='btn btn-danger' data-toggle='modal' href='#delete_organization_modal'>Delete organization</a>
            </div>


        </div>
    </div>

</div>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.methods.js') }}"></script>
<script>
    $(function() {

        // tabs
        $('#organizationTab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // modal
        $('#delete_organization_modal').modal({
            show: false
        });


        // initial focus on first input
        $('#name').focus();

        $('#info_form').isHappy({
            fields: {
                '#name': {
                    required: true
                    , message: ''
                }
            }
        });
        
        $('#add_members_form').isHappy({
            fields: {
                '#add_member_email': {
                    required: true
                    , message: ''
                    , test: happy.email
                }
            }
        });
        
        $('#remove_members_form').isHappy({
            fields: {
                '#remove_member_email': {
                    required: true
                    , message: ''
                    , test: happy.email
                }
            }
        });

        
    });
</script>
{% endblock %}
