{% extends "layout.html" %}

{% block body %}
<div class='row'>
    <div class='span12'>
        <h2 class='section-name'>{{ user.name }}
            <small>
                (<a href="{{ url_for('profile', edit='true') }}">edit</a>)
        </small>
    </h2>

        <table class='table'>
            <thead>
                <tr>
                    <th>Email address</th>
                    <th>Organization</th>
                    <th>Member since</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.organization }}</td>
                    <td>{{ user.registration_time|_format_datetime('day-month-year') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
