{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class='row'>
    <div class='offset3 span6'>
        <form class='form-horizontal' action="{{ url_for('register') }}" method=post id='registration_form'>
            <fieldset>
                <legend>Register</legend>
                <div class='control-group'>
                    <label class='control-label' for='name'>Name</label>
                    <div class='controls'>
                        <input type='text' class='span3' name='name' id='name'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='email'>Email</label>
                    <div class='controls'>
                        <input type='text' class='span3' name='email' id='email'>
                        <p class='help-block'>this will be used for logging in</p>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='password'>Password</label>
                    <div class='controls'>
                        <input type='password' class='span3' name='password' id='password'>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='password'>Retype Password</label>
                    <div class='controls'>
                        <input type='password' class='span3' name='retype_password' id='retype_password'>
                    </div>
                </div>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

                <div class='form-actions'>
                    <button type='submit' class='btn btn-success'>Sign Up</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/happy.js') }}"></script>
<script src="{{ url_for('static', filename='js/happy.methods.js') }}"></script>
<script>
    $(function() {
        // initial focus on first input
        $('#name').focus();

        $('#registration_form').isHappy({
            fields: {
                '#name': {
                    required: true
                    , message: ''
                }
                , '#email': {
                    required: true
                    , message: ''
                    , test: happy.email
                }
                , '#organization': {
                    required: true
                    , message: ''
                }
                , '#password': {
                    required: true
                    , message: ''
                }
                , '#retype_password': {
                    required: true
                    , message: ''
                    , test: happy.equal('#password')
                }
            }
        });

    });
</script>
{% endblock %}
